<div id="general-form">
  <h3>Información General</h3>
  <label>Nombre del Proyecto</label>
  <input type="text" name="project_title" required class="u-full-width">

  <label>Descripción del Problema</label>
  <textarea name="problem" required class="u-full-width"></textarea>

  <label>Objetivo General</label>
  <textarea name="general_objective" required class="u-full-width"></textarea>

  <label>Metodología</label>
  <textarea name="methodology" required class="u-full-width"></textarea>
</div>